[rlt_settings]
btn_paths_enabled=true
btn_fbx_sets_enabled=true
ckbx_show_bb_checked=true
ckbx_show_bb_enabled=true
clr_bb_main_color=(color 60 150 255)
clr_bb_main_enabled=true
clr_bb_add_color=(color 255 100 50)
clr_bb_add_enabled=true
btn_clr_reset_enabled=true
ckbx_show_icon_checked=false
ckbx_show_icon_enabled=true
ckbx_auto_pivot_checked=true
ckbx_auto_pivot_enabled=true
ckbx_auto_prev_checked=true
ckbx_auto_prev_enabled=true
spn_save_count_value=10
spn_save_count_enabled=true
ckbx_load_last_checked=false
ckbx_load_last_enabled=true
ckbx_tooltips_checked=false
ckbx_tooltips_enabled=true
opened=false
[rlt_catalog_tasks]
lst_basic_catalog_selection=2
lst_basic_catalog_enabled=true
lst_sub_catalog_selection=3
lst_sub_catalog_enabled=true
lv_main_enabled=true
opened=true
lv_main_selection=0
[rlt_catalog_info]
opened=true
[rlt_catalog_tools]
opened=false
[rlt_catalog_general]
opened=true
[dlg_configure]
pos=[2672,404]
[dlg_load_work]
pos=[638,301]
