[rlt_settings]
btn_paths_enabled=true
btn_fbx_sets_enabled=true
ckbx_show_bb_checked=true
ckbx_show_bb_enabled=true
clr_bb_main_color=(color 60 150 255)
clr_bb_main_enabled=true
clr_bb_add_color=(color 255 100 50)
clr_bb_add_enabled=true
btn_clr_reset_enabled=true
ckbx_show_icon_checked=false
ckbx_show_icon_enabled=true
ckbx_auto_pivot_checked=true
ckbx_auto_pivot_enabled=true
ckbx_auto_prev_checked=true
ckbx_auto_prev_enabled=true
spn_save_count_value=10
spn_save_count_enabled=true
ckbx_load_last_checked=false
ckbx_load_last_enabled=true
ckbx_tooltips_checked=false
ckbx_tooltips_enabled=true
opened=false
[rlt_catalog_tasks]
lst_basic_catalog_selection=2
lst_basic_catalog_enabled=true
lst_sub_catalog_selection=3
lst_sub_catalog_enabled=true
lv_main_enabled=true
opened=true
lv_main_selection=3
[rlt_catalog_tools]
opened=false
grp_01_enabled=true
btn_up_enabled=true
btn_left_enabled=true
btn_center_enabled=true
btn_right_enabled=true
btn_down_enabled=true
grp_02_enabled=true
btn_create_icon_checked=false
btn_create_icon_enabled=true
btn_create_sel_set_enabled=false
lst_sel_sets_selection=1
lst_sel_sets_enabled=false
spn_w_value=100.0
spn_w_enabled=false
btn_fit_enabled=false
spn_d_value=100.0
spn_d_enabled=false
btn_render_enabled=false
btn_save_enabled=false
[rlt_catalog_general]
opened=false
grp_01_enabled=true
btn_vis_switch_enabled=false
btn_attach_to_task_enabled=false
btn_clear_enabled=false
grp_02_enabled=true
btn_set_pivot_enabled=false
btn_main_mesh_enabled=false
btn_add_mesh_enabled=false
btn_mesh_switch_enabled=false
grp_03_enabled=true
btn_update_mat_enabled=false
btn_set_texture_enabled=false
grp_04_enabled=true
btn_save_work_enabled=false
btn_load_work_enabled=false
btn_work_list_enabled=false
btn_export_enabled=false
[dlg_load_work]
pos=[2483,309]
[dlg_load_textures]
pos=[2353,320]
[dlg_export]
pos=[3104,192]
