[URLs]
url_auth = https://stanzza-api.aicrobotics.ru/api/auth/login
url_storage = https://stanzza-api.aicrobotics.ru/api/storage/upload
url_catalog = https://stanzza-api.aicrobotics.ru/api/v1/catalog
url_projects = https://stanzza-api.aicrobotics.ru/api/projects
url_chat = https://stanzza-api.aicrobotics.ru/api/chat
url_users = https://stanzza-api.aicrobotics.ru/api/chat/users

[Authorization]
login = zaitsev-pavel@stanzza.ru
password = zaitsev-pavel2021
access_token = aOjE4dFc2oiiNVfbNgILIEy9IqzYj6xL
time_limit = 2023-06-22T04:04:08+03:00

